
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img{
  height: 35rem;
  width: 100%;
}
html,body{
  font-family: 'Poor Story', cursive;
}
body {
	overflow-x: hidden;
	color: #111;
}

p {
	font-size: 18px;
}

.container-fluid {
	background-color: rgb(56, 46, 46);
}

/* .top-part {
	background-color: #512DA8;
} */

.center-content {
	margin-top: 120px;
	margin-bottom: 120px;
}

.btn-pink {
	border-radius: 0;
	background-color: #FF4081;
	color: #fff !important;
	letter-spacing: 2px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.btn-pink:hover {
	background-color: #F50057;
}

.line {
	border-top: 1px solid #7B1FA2;
	width: 90% !important;
}

.fa-mobile {
	font-size: 20px;
}

#contact {
	font-size: 15px;
}

.grey-text {
	color: lightgrey;
}
.card{
  width: 20rem;
  margin-top: 1rem;
}
h5{
  font-size: 3rem;
}